head
    title Showcase | uvacoder
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no")
    meta(name="author" content="uvacoder")
    meta(name="description" content="Showcase of uvacoder, a Software Engineer Student and Junior Web Front-end.")
    meta(name="keywords" content="portfolio, showcase, uvacoder, projects")
    meta(property="og:image" content="assets/images/avatar.webp")
    meta(property="og:description" content="Showcase of uvacoder, a Software Engineer Student and Junior Web Front-end.")
    meta(property="og:title" content="Showcase | uvacoder")
    link(rel="shortcut icon" href="assets/images/icon.png")
    link(href="./styles/main.scss" rel="stylesheet")
