-
    let projects = [
        {
            name: "Api's 4 Free",
            desc: "Collection of searchable API's",
            img: "assets/images/screenshot-apis4free.webp",
            link: "https://apis4free.vercel.app",
            tags: ["Concept", "Branding", "Organizer"]
        },        
        {
            name: "Api's 4 Public",
            desc: "Collection of searchable API's",
            img: "assets/images/screenshot-apis4public.webp",
            link: "https://apis4public.vercel.app",
            tags: ["Concept", "Branding", "Organizer"]
        },        
        {
            name:  "WIP Freesources",
            desc: "Collection of free sources to help with your needs on github API's",
            img: "assets/images/screenshot-freesources.webp",
            link: "https://freesources.vercel.app",
            tags: ["Concept", "Branding", "Organizer"]
        },
        {
            name:  "Scripts4coders",
            desc: "Collection of the most used scripts",
            img: "assets/images/screenshot-scripts4coders.webp",
            link: "https://scripts4coders.vercel.app",
            tags: ["Concept", "Branding", "Organizer"]
        },
        {
            name: "Woodworker Repos",
            desc: "Collection of the repos for Woodworker using github API",
            img: "assets/images/screenshot-woodworker-repos.webp",
            link: "https://woodworker-repos.vercel.app",
            tags: ["Concept", "Branding", "Organizer"]
        },
        {
            name: "Simple Projects",
            desc: "Collection of projects that are very simple and can be used by github-pages",
            img: "assets/images/uvacoder.github.io_doc-simple-projects-434_.webp",
            link: "https://uvacoder.github.io/doc-simple-projects-434/",
            tags: ["Projects", "Collection", "Simple"]
        },
        {
            name: "Quotemaster",
            desc: "Collection of great quotes, sortable by authors.",
            img: "https://res.cloudinary.com/freeunioncoder/image/upload/v1679068738/4261/screenshot-quotemaster.png",
            link: "https://quotemaster.vercel.app",
            tags: ["Projects", "Quotes", "Collection"]
        },
        {
            name: "Pokerhandz",
            desc: "Collection of projects that are very simple and can be used by github-pages",
            img: "https://res.cloudinary.com/freeunioncoder/image/upload/v1679075709/4261/screenshot-pokerhandz.png",
            link: "https://pokerhandz.vercel.app",
            tags: ["Projects", "Collection", "Simple"]
        },
        {
            name: "CoderNotes",
            desc: "Collection of notes and thoughts covering every topic",
            img: "https://res.cloudinary.com/freeunioncoder/image/upload/v1679280288/4261/screenshot-uvacodernotes.png",
            link: "https://uvacodernotes.vercel.app",
            tags: ["Guide", "Collection", "Notes"]
        },
        {
            name: "createmyOG",
            desc: "OG image card creater for any user/repo",
            img: "https://res.cloudinary.com/freeunioncoder/image/upload/v1679388948/4261/screenshot-createmyog.png",
            link: "https://createmuog.vercel.app",
            tags: ["Img", "OG", "Webapp"]
        },
        {
            name: "Guide 4 Html and Css",
            desc: "A great beg guide/notes for html and css",
            img: "https://res.cloudinary.com/freeunioncoder/image/upload/v1679389840/4261/screeenshot-guide4htmlcss.png",
            link: "https://guide4htmlcss.vercel.app",
            tags: ["Guide", "Astro", "Html", "Css"]
        }
    ];

doctype
html(lang="en-US")
    include head.pug
    body
        block content
