-
    let projects = [
        {
            name: "Api's 4 Free",
            desc: "Collection of searchable API's",
            img: "assets/images/screenshot-apis4free.webp",
            link: "https://apis4free.vercel.app",
            tags: ["Concept", "Branding", "Organizer"]
        },        
        {
            name: "Api's 4 Public",
            desc: "Collection of searchable API's",
            img: "assets/images/screenshot-apis4public.webp",
            link: "https://apis4public.vercel.app",
            tags: ["Concept", "Branding", "Organizer"]
        },        
        {
            name:  "WIP Freesources",
            desc: "Collection of free sources to help with your needs on github API's",
            img: "assets/images/screenshot-freesources.webp",
            link: "https://freesources.vercel.app",
            tags: ["Concept", "Branding", "Organizer"]
        },
        {
            name:  "Scripts4coders",
            desc: "Collection of the most used scripts",
            img: "assets/images/screenshot-scripts4coders.webp",
            link: "https://scripts4coders.vercel.app",
            tags: ["Concept", "Branding", "Organizer"]
        },
        {
            name: "Woodworker Repos",
            desc: "Collection of the repos for Woodworker using github API",
            img: "assets/images/screenshot-woodworker-repos.webp",
            link: "https://woodworker-repos.vercel.app",
            tags: ["Concept", "Branding", "Organizer"]
        }
    ];

doctype
html(lang="en-US")
    include head.pug
    body
        block content
