-
    let projects = [
        {
            name: "Api's 4 Free",
            desc: "Collection of searchable API's",
            img: "assets/images/screenshot-apis4free.webp",
            link: "https://apis4free.vercel.app",
            tags: ["Concept", "Branding", "Organizer"]
        }
    ];

doctype
html(lang="en-US")
    include head.pug
    body
        block content
